<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeBaja()">Baja</a>
  </li>
</ul>
<div class="flex-item row-fluid">
  <form #usuarioForm="ngForm" name="usuarioForm">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <legend>
          Generación de usuarios
        </legend>
      </div>
      <div class="col-md-8 col-sm-8">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="form-group has-feedback">
          <label class="control-label">Equipos</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="equipo" name="equipo" required (change)="onChange(equipo)" class="form-control">
                <option value=" ">Elija su opción</option>
                <option *ngFor="let equipo of lsEquipos" [ngValue]="equipo">{{equipo.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="form-group has-feedback">
          <label class="control-label">Fecha caducidad</label>
          <div class="inputGroupContainer">
            <div class="input-group date">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
              <input [(ngModel)]="usuario.caducidad" name="nuevaFecha" class="form-control" (blur)="habilitar()" type="date" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-3">
        <button (click)="registrarUsuario()" [disabled]="estaHabilitado" type="button" class="btn btn-primary">Generar</button>
      </div>
    </div>
  </form>
</div>