<div class="container-fluid flex-item">

  <div class="row">
    <div class="titulo">{{equipo.nombre}}</div>
    <hr class="hr-text titulo">
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">

      <div class="col-md-2 col-sm-2">
        <div class="row escudo">
          <img [src]="config.imgUrl + escudo">
        </div>
        <div class="row encabezado">DATOS DEL EQUIPO</div>
        <div class="row datos">
          <p> Entrenador:</p>
          <p class="nombre">{{dt.apellido}}, {{dt.nombre}}</p>
          <p> Delegado:</p>
          <p class="nombre">{{representante.apellido}}, {{representante.nombre}}</p>
          <p> Categoría actual:</p>
          <p class="nombre">{{nombre_torneo}}</p>
        </div>
        <div class="row encabezado">GOLEADOR</div>
        <div class="row foto-goleador">
          <img [src]="config.imgUrl + goleador.imagePath">
        </div>
        <div class="row" style="margin-top: 10px;">
          <p class="datos-goleador"> {{goleador.goles}} GOLES</p>
          <p class="datos-goleador"> {{goleador.partidos_jugados}} PARTIDOS JUGADOS</p>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 jugadores">
        <div class="col-md-12 col-sm-12">
          <hr class="hr-text titulo-jugadores" data-content="Jugadores">

          <li *ngFor="let jugador of lsJugadores">
            <div class="row jugador">
              <div class="foto col-md-4 col-sm-4">
                <img [src]="config.imgUrl + jugador.imagePath">
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="info-jugador">
                  <div class="nombre-jugador"> {{jugador.apellido}}, {{jugador.nombre}} </div>
                  <div class="edad">
                    <span class="dato-jugador">Edad: </span>
                    <span class="atrib-jugador"> {{jugador.edad}} </span>
                  </div>
                  <div class="tarjetas" *ngIf="esAdmin">
                    <img src="/assets/amarilla.png">
                    <span class="atrib-jugador">: {{jugador.tarjetas_amarillas}} </span>
                    <img src="/assets/roja.png">
                    <span class="atrib-jugador">: {{jugador.tarjetas_rojas}} </span>
                  </div>
                  <div *ngIf="!esAdmin"><br></div>
                  <div>
                    <span class="dato-jugador">Goles: </span>
                    <span class="atrib-jugador"> {{jugador.goles}} </span>
                    <span class="dato-jugador par">Partidos: </span>
                    <span class="atrib-jugador"> {{jugador.partidos_jugados}} </span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <button type="submit" (click)="desvincularJugador(jugador.id_jugador)" class="btn btn-primary desvincular" *ngIf="esAdmin">Desvincular</button>
              </div>
            </div>
          </li>

        </div>
      </div>

      <div class="col-md-2 col-sm-2 conjunto">
        <img [src]="config.imgUrl + equipacion">
      </div>
    </div>
  </div>
</div>
