<div class="col-sm-10 col-md-10 col-md-offset-1">


  <div class="row foto">
    <div class="col-sm-12 col-md-12">
      <div class="imagebox">
        <img [src]="'http://localhost:50042' + thumbnail" class="category-banner img-responsive">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="titulo"> Atlanta United continues partnership with Sports Radio 92-9 The Game for 2018 Season<!--  {{noticia.titulo}} --></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="noticia">
        <!--         {{noticia.descripcion}}
 -->
        <p>Atlanta United today announced it has renewed its partnership with Sports Radio 92-9 The Game to be the club&rsquo;s
          official radio partner for the 2018 season. Taking over as the play-by-play host is veteran announcer Mike Conti
          who will join color analyst Jason Longshore returning for his second season. The partnership will kick-off the
          2018 season with Atlanta United&rsquo;s match against Nashville SC on Saturday, Feb. 10 in the club&rsquo;s preseason
          opener.
        </p>

        <p>&ldquo;We&rsquo;re thrilled to continue our partnership with the No. 1 sports radio network in Atlanta,&rdquo; Club
          President Darren Eales said. &ldquo;We&rsquo;ve really been pleased with 92-9 The Game&rsquo;s dedication to covering
          our club and we&rsquo;re looking forward to another successful season.&rdquo;</p>

        <p>Eales will continue to make weekly appearances on the &ldquo;Dukes and Bell Show&rdquo; that airs weekdays from 2-7
          p.m. In addition, Vice President and Technical Director Carlos Bocanegra will make weekly appearances on &ldquo;John
          and Hugh in the Morning&rdquo; that airs weekdays from 6-10 a.m. The club will also continue to feature Atlanta
          United players on various shows as often as twice a week during the season.</p>

        <p>&ldquo;We are extremely excited to have Mike Conti join our Atlanta United broadcasts as the play-by-play host along
          with Jason Longshore who has done a great job becoming a true ambassador for soccer in Atlanta,&rdquo; said Terry
          Foxx, Program Director for 92-9 The Game.&nbsp;&ldquo;I&rsquo;m very proud of our continued partnership with Atlanta
          United and our commitment to bringing the true passion of soccer to our fans.&rdquo;</p>

        <p>Conti is currently the Managing Editor of 92-9 The Game and contributes daily to the station&rsquo;s midday and afternoon
          shows. Additionally, he hosts the pregame, halftime and postgame shows on both the Atlanta Falcons Radio Network
          and the Atlanta Hawks Radio Network.</p>

        <p>Conti&rsquo;s career started in 1997 covering Penn State Football at WMAJ in State College, Pa. He later covered
          PGA Golf and The Masters at WLOW-FM in Savannah, Ga.; the New Orleans Saints and Hornets at WWL-AM in New Orleans;
          and reported for the Atlanta Braves Radio Network at WGST-AM in Atlanta.</p>

        <p>Longshore has been involved in the Atlanta soccer community for over 20 years and will enter his second season in
          the booth for Atlanta United. He currently serves as the host for 92-9 The Game&rsquo;s &ldquo;Stoppage Time&rdquo;
          as well as Soccer Down Here. Some of his previous work includes working as the Director of Operations for the Atlanta
          Ruckus, the Chief Development Officer of Soccer in the Streets and in the front office for the Atlanta Silverbacks.</p>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <label>Temas</label>
      <div class="tags">
        <!--           {{noticia.tags}} -->
        <a class="tags"> Noticia, Prueba</a>
      </div>
    </div>
  </div>

</div>
