.invisible {
    visibility: hidden;
  }
  
  input:disabled{
    background-color: #d1d1d1;
  }
  
  textarea{
    resize: none;
    height: 180px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc; 
  }