<div class="container-fluid">

  <div class="principal">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="imagebox" *ngIf="lsNotPrincipLink.length">
          <a (click)="verNoticia(lsNotPrincipLink[0].id_noticia)">
            <img [src]="url + lsNotPrincipLink[0].ruta" class="category-banner img-responsive">
            <span class="imagebox-desc">{{lsNotPrincipLink[0].titulo}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12" style="margin: 0px; padding: 0px;">
    <div class="secundaria">
      <div class="row">
        <div class="col-sm-4 col-md-4" style="padding-right: 0px;" *ngFor="let noticia of lsNotSecundLink">
          <div class="imageboxSecundaria">
            <a (click)="verNoticia(noticia.id_noticia)">
              <img [src]="url + noticia.ruta" class="category-banner img-responsive">
              <span class="imagebox-desc">{{noticia.titulo}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="col-md-4 col-sm-4 historico-noticias">
        <div class="row">
          <h2>Otras noticias</h2>
        </div>

        <li *ngFor="let noticia of lsNotUltimasLink">
          <div class="row noticia-historica">
            <div class="col-md-4 col-sm-4 cont-imagen-noticia-historica">
              <img [src]="url + noticia.ruta" class="category-banner img-responsive" (click)="verNoticia(noticia.id_noticia)">
            </div>
            <div class="col-md-8 col-sm-8 noticia-historica-texto">
              <div class="titulo">
                <a (click)="verNoticia(noticia.id_noticia)">{{noticia.titulo}}</a>
              </div>
              <div class="datos-noticia">{{noticia.fecha_noticia | date:'dd MMM yyyy'}}</div>
            </div>
          </div>
        </li>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="row">
          <a class="twitter-timeline" data-width="350" data-height="545" href="https://twitter.com/TorneoGolden?ref_src=twsrc%5Etfw">Tweets by TorneoGolden</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 sponsors-primarios">
        <div class="row">
          <a href="http://www.cerveceriaymalteriaquilmes.com/" target="_blank">
            <img src="/assets/quilmes.jpg" class="category-banner img-responsive">
          </a>
        </div>
        <div class="row">
          <a href="http://www.gatorade.com/" target="_blank">
            <img src="/assets/gatorade.jpg" class="category-banner img-responsive">
          </a>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3 sponsor-secundario">
          <a href="https://www.ifksports.com/" target="_blank">
            <img src="/assets/ifk.png" class="category-banner img-responsive">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 sponsor-secundario">
          <a href="https://www.ifksports.com/" target="_blank">
            <img src="/assets/ifk.png" class="category-banner img-responsive">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 sponsor-secundario" target="_blank">
          <a href="https://www.ifksports.com/">
            <img src="/assets/ifk.png" class="category-banner img-responsive">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 sponsor-secundario" target="_blank">
          <a href="https://www.ifksports.com/">
            <img src="/assets/ifk.png" class="category-banner img-responsive">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
