<div class="container-fluid">
  <div class="row" *ngIf="id_fase == 1">
    <hr class="hr-text general" data-content="TABLA GENERAL">
    <div class="table-responsive">
      <table class="table table-striped table-hover general">
        <thead>
          <tr>
            <th>POS</th>
            <th></th>
            <th>EQUIPO</th>
            <th>PTS</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let posicion of lsPosiciones; let i = index">
            <th>{{i + 1}}</th>
            <th>
              <img [src]="config.imgUrl + posicion.equipo.imagePath">
            </th>
            <th>{{posicion.equipo.nombre}}</th>
            <th>{{posicion.puntos}}</th>
            <th>{{posicion.partidos_jugados}}</th>
            <th>{{posicion.partidos_ganados}}</th>
            <th>{{posicion.partidos_empatados}}</th>
            <th>{{posicion.partidos_perdidos}}</th>
            <th>{{posicion.goles_favor}}</th>
            <th>{{posicion.goles_contra}}</th>
            <th>{{posicion.dif_gol}}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngFor="let sancion of lsSanciones">
      <p class="text-muted">
        (*)Se quitó {{ sancion.puntos_restados }} punto/s al equipo {{sancion.equipo.nombre}}. Motivo: {{ sancion.descripcion }}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngIf="id_fase != 1">
    <div class="col-md-12 col-sm-12">
      <hr class="hr-text general" data-content="Posiciones por zona">
      <div class="col-md-6 col-sm-6" *ngFor="let posicionesZona of lsPosicionesZona; let j = index">
        <div class="table-responsive">
          <div class="titulo_zona text-center">
            <h4> ZONA {{posicionesZona[j].zona.descripcion}}</h4>
          </div>
          <table class="table table-striped table-hover general">
            <thead>
              <tr>
                <th></th>
                <th>POS</th>
                <th>EQUIPO</th>
                <th>PTS</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>DG</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let posicion of posicionesZona; let i = index">
                <th>
                  <img [src]="config.imgUrl + posicion.equipo.imagePath">
                </th>
                <th>{{i + 1}}</th>
                <th class="nombre-equipo">{{posicion.equipo.nombre}}</th>
                <th>{{posicion.puntos}}</th>
                <th>{{posicion.partidos_jugados}}</th>
                <th>{{posicion.partidos_ganados}}</th>
                <th>{{posicion.partidos_empatados}}</th>
                <th>{{posicion.partidos_perdidos}}</th>
                <th>{{posicion.goles_favor}}</th>
                <th>{{posicion.goles_contra}}</th>
                <th>{{posicion.dif_gol}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div *ngFor="let sancion of lsSanciones">
          <p class="text-muted">
            (*)Se quitó {{ sancion.puntos_restados }} punto/s al equipo {{sancion.equipo.nombre}} de la zona {{sancion.zona.descripcion}}:
            {{ sancion.descripcion }}.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
