<div class="container-fluid">
  <div class="row">
    <hr class="hr-text general" data-content="Tabla general">
    <div class="table-responsive">
      <table class="table table-striped general">
        <thead>
          <tr>
            <th></th>
            <th>POS</th>
            <th>EQUIPO</th>
            <th>PTS</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Taladro</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
          <tr>
            <th></th>
            <th>1</th>
            <th>Black Pipol</th>
            <th>9</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>0</th>
            <th>8</th>
            <th>2</th>
            <th>+6</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
