.playoff {
  width: 100%;
}

.etapa {
  float: left;
}

.texto-fase {
  font-weight: 800;
  font-size: 14px;
}

.col-md-12,
.col-md-3,
.col-md-6,
.row {
  padding: 0px;
  margin: 0px;
}

.golesEquipo {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  margin-top: 3px;
}

.nombreEquipo {
  text-align: center;
  margin-top: 9px;
}

.equipo {
  width: 235px;
  height: 40px;
  background: rgb(35, 35, 35);
  color: white;
  text-align: center;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
/*   border-color: rgb(170, 145, 93);
 */  border-radius: 5px;
}


.local {
  border-left: 9px solid rgb(170, 145, 93);
  /* border-width: 10px;  
  border-color: red; */
}

.escudo img {
  height: 38px;
  width: 38px;
}

.ganador {
  background: rgb(125, 125, 125);
}

.partido {
  padding: 5px 50px 5px 0px;
}

/*Cuartos de final*/

.cuartos-final .partido {
  height: 100px;
  background: right top no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAABkAQMAAAD+JvEYAAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADEwLzEwLzEyGAKeIwAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAAnSURBVCiRY/gPBgcYhjoNBPZQ/v4hQjeAHD0I3IGXRgpXqsbXEKEB2yGL0P7iVKIAAAAASUVORK5CYII=);
}

.cuartos-final .equipo {}

.cuartos-final .equipo:first-child {
  margin-bottom: 5px;
}

/*Semifinales*/

.semifinal .partido {
  padding-top: 30px;
  height: 185px;
  background: right top no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAC5AQMAAABQhv7pAAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADEwLzEwLzEyGAKeIwAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAArSURBVDiNY/gPBgcYRumBpYHAHsrfP0oPKboBFHmDwB2jNAk0Un77PwxoAJbztvAUr3KAAAAAAElFTkSuQmCC);
}

.semifinal .equipo:first-child {
  margin-bottom: 70px;
}

/*Final*/

.final .partido {
  padding-top: 85px;
  height: 350px;
  background: top right no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAFeAQMAAAD9sN5nAAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADEwLzEwLzEyGAKeIwAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAA0SURBVEiJY/gPBgcYRulRepQmngYCeyh//yg9So/Sg45uAGXSQeCOUXqUHrI0Uj33fxjQAEJS8U50LMSKAAAAAElFTkSuQmCC);
}

.final .equipo:first-child {
  margin-bottom: 180px;
}

/* Campeón*/

.campeon {
  padding-top: 200px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: ''; // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, rgb(170, 145, 93), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em; // this is really the only tricky part, you need to specify the background color of the container element...
    color: rgb(170, 145, 93);
    background-color: white;
  }
}

.titulo {
  font-weight: 800;
  color: rgb(170, 145, 93);
  text-align: center;
  font-size: xx-large;
}
