<div class="container-fluid">
<!--   <div class="row">
    <div class="col-md-12 col-sm-12">
      <svg height="200" width="500">
        <polyline points="0 0.53 25 0.53 25 102.53 0 102.53" style="fill:none;stroke:black;stroke-width:2" />
        <polyline points="298.5 112.03 298.5 52.03 25 52.03" style="fill:none;stroke:black;stroke-width:2" />
      </svg>

      <svg height="200" width="500">
        <polyline points="0 0.53 25 0.53 25 102.53 0 102.53" style="fill:none;stroke:black;stroke-width:2" />
        <polyline points="298.5 112.03 298.5 52.03 25 52.03" style="fill:none;stroke:black;stroke-width:2" />
      </svg>
    </div>
  </div> -->

  <div class="row playoff" *ngIf="playoffA.length">
    <div class="row">
      <hr class="hr-text titulo" data-content="PLAYOFF A">
    </div>
    <div class="row">
      <div class="col-md-12 texto-fase">
        <div class="col-md-3 text-center">CUARTOS</div>
        <div class="col-md-3 text-center">SEMIS</div>
        <div class="col-md-3 text-center">FINAL</div>
        <div class="col-md-3 text-center">CAMPEÓN</div>
      </div>
    </div>
    <div class="etapa cuartos-final" *ngIf="playoffA[0].length">

      <div class="partido" *ngFor="let partido of playoffA[0]">
        <div class="row">
          <div class="col-md-12 equipo local" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>

    </div>

    <div class="etapa semifinal" *ngIf="playoffA[1].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa semifinal" *ngIf="playoffA[1].length">
      <div class="partido" *ngFor="let partido of playoffA[1]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>


    <div class="etapa final" *ngIf="playoffA[2].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa final" *ngIf="playoffA[2].length">
      <div class="partido" *ngFor="let partido of playoffA[2]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="etapa">
      <div class="campeon" *ngIf="playoffA[2].length">
        <div class="equipo" *ngIf="playoffA[2][0].lsGolesLocal.length > 0 || playoffA[2][0].lsGolesVisitante.length > 0">
          <div class="col-md-12 equipo ganador">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + playoffA[2][0].ganadorPlayoff.imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{playoffA[2][0].ganadorPlayoff.nombre}}</span>
            </div>
          </div>
        </div>
        <div class="equipo" *ngIf="playoffA[2][0].lsGolesLocal.length == 0 || playoffA[2][0].lsGolesVisitante.length == 0"> </div>
      </div>
      <div class="campeon" *ngIf="playoffA[2].length == 0">
        <div class="equipo"></div>
      </div>
    </div>
  </div>

  <div class="row playoff" *ngIf="playoffB[0].length || playoffB[1].length || playoffB[2].length">
    <div class="row">
      <hr class="hr-text titulo" data-content="PLAYOFF B">
    </div>
    <div class="row">
      <div class="col-md-12 texto-fase">
        <div class="col-md-3 text-center">CUARTOS DE FINAL</div>
        <div class="col-md-3 text-center">SEMIFINAL</div>
        <div class="col-md-3 text-center">FINAL</div>
        <div class="col-md-3 text-center">CAMPEÓN</div>
      </div>
    </div>
    <div class="etapa cuartos-final" *ngIf="playoffB[0].length">

      <div class="partido" *ngFor="let partido of playoffB[0]">
        <div class="row">
          <div class="col-md-12 equipo local" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>

    </div>

    <div class="etapa semifinal" *ngIf="playoffB[1].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa semifinal" *ngIf="playoffB[1].length">
      <div class="partido" *ngFor="let partido of playoffB[1]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>


    <div class="etapa final" *ngIf="playoffB[2].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa final" *ngIf="playoffB[2].length">
      <div class="partido" *ngFor="let partido of playoffB[2]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="etapa">
      <div class="campeon" *ngIf="playoffB[2].length">
        <div class="equipo" *ngIf="playoffB[2][0].lsGolesLocal.length > 0 || playoffB[2][0].lsGolesVisitante.length > 0">
          <div class="col-md-12 equipo ganador">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + playoffB[2][0].ganadorPlayoff.imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{playoffB[2][0].ganadorPlayoff.nombre}}</span>
            </div>
          </div>
        </div>
        <div class="equipo" *ngIf="playoffB[2][0].lsGolesLocal.length == 0 || playoffB[2][0].lsGolesVisitante.length == 0"> </div>
      </div>
      <div class="campeon" *ngIf="playoffB[2].length == 0">
        <div class="equipo"></div>
      </div>
    </div>
  </div>

  <div class="row playoff" *ngIf="playoffC[0].length || playoffC[1].length || playoffC[2].length">
    <div class="row">
      <hr class="hr-text titulo" data-content="PLAYOFF C">
    </div>
    <div class="row">
      <div class="col-md-12 texto-fase">
        <div class="col-md-3 text-center">CUARTOS DE FINAL</div>
        <div class="col-md-3 text-center">SEMIFINAL</div>
        <div class="col-md-3 text-center">FINAL</div>
        <div class="col-md-3 text-center">CAMPEÓN</div>
      </div>
    </div>
    <div class="etapa cuartos-final" *ngIf="playoffC[0].length">

      <div class="partido" *ngFor="let partido of playoffC[0]">
        <div class="row">
          <div class="col-md-12 equipo local" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>

    </div>

    <div class="etapa semifinal" *ngIf="playoffC[1].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa semifinal" *ngIf="playoffC[1].length">
      <div class="partido" *ngFor="let partido of playoffC[1]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>


    <div class="etapa final" *ngIf="playoffC[2].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa final" *ngIf="playoffC[2].length">
      <div class="partido" *ngFor="let partido of playoffC[2]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="etapa">
      <div class="campeon" *ngIf="playoffC[2].length">
        <div class="equipo" *ngIf="playoffC[2][0].lsGolesLocal.length > 0 || playoffC[2][0].lsGolesVisitante.length > 0">
          <div class="col-md-12 equipo ganador">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + playoffC[2][0].ganadorPlayoff.imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{playoffC[2][0].ganadorPlayoff.nombre}}</span>
            </div>
          </div>
        </div>
        <div class="equipo" *ngIf="playoffC[2][0].lsGolesLocal.length == 0 || playoffC[2][0].lsGolesVisitante.length == 0"> </div>
      </div>
      <div class="campeon" *ngIf="playoffC[2].length == 0">
        <div class="equipo"></div>
      </div>
    </div>
  </div>

  <div class="row playoff" *ngIf="playoffD[0].length || playoffD[1].length || playoffD[2].length">
    <div class="row">
      <hr class="hr-text titulo" data-content="PLAYOFF D">
    </div>
    <div class="row">
      <div class="col-md-12 texto-fase">
        <div class="col-md-3 text-center">CUARTOS DE FINAL</div>
        <div class="col-md-3 text-center">SEMIFINAL</div>
        <div class="col-md-3 text-center">FINAL</div>
        <div class="col-md-3 text-center">CAMPEÓN</div>
      </div>
    </div>
    <div class="etapa cuartos-final" *ngIf="playoffD[0].length">

      <div class="partido" *ngFor="let partido of playoffD[0]">
        <div class="row">
          <div class="col-md-12 equipo local" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>

    </div>

    <div class="etapa semifinal" *ngIf="playoffD[1].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa semifinal" *ngIf="playoffD[1].length">
      <div class="partido" *ngFor="let partido of playoffD[1]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>


    <div class="etapa final" *ngIf="playoffD[2].length == 0">
      <div class="partido">
        <div class="equipo"></div>
        <div class="equipo"></div>
      </div>
    </div>

    <div class="etapa final" *ngIf="playoffD[2].length">
      <div class="partido" *ngFor="let partido of playoffD[2]">
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesLocal.length > partido.lsGolesVisitante.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.local[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.local[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesLocal.length}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 equipo" [ngStyle]="{'background':partido.lsGolesVisitante.length > partido.lsGolesLocal.length ? 'rgb(41, 41, 41)' : 'rgb(125, 125, 125)' }">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante[0].imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{partido.visitante[0].nombre}}</span>
            </div>
            <div class="col-md-3 golesEquipo"> {{partido.lsGolesVisitante.length}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="etapa">
      <div class="campeon" *ngIf="playoffD[2].length">
        <div class="equipo" *ngIf="playoffD[2][0].lsGolesLocal.length > 0 || playoffD[2][0].lsGolesVisitante.length > 0">
          <div class="col-md-12 equipo ganador">
            <div class="col-md-3 escudo">
              <img class="img-responsive" [src]="config.imgUrl + playoffD[2][0].ganadorPlayoff.imagePath">
            </div>
            <div class="col-md-6 nombreEquipo">
              <span> {{playoffD[2][0].ganadorPlayoff.nombre}}</span>
            </div>
          </div>
        </div>
        <div class="equipo" *ngIf="playoffD[2][0].lsGolesLocal.length == 0 || playoffD[2][0].lsGolesVisitante.length == 0"> </div>
      </div>
      <div class="campeon" *ngIf="playoffD[2].length == 0">
        <div class="equipo"></div>
      </div>
    </div>
  </div>

</div>
