<div class="container-fluid">
  <form #reglamentoForm="ngForm" name="reglamentoForm">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row descripcion">
          <h4>
            Descripción del reglamento
          </h4>
          <ck-editor id="editor" name="editor2" [(ngModel)]="reglamento.descripcion" skin="moono-lisa" lang="es" required></ck-editor>
        </div>
      </div>

      <div class="row descripcion">
        <div class="col-md-2 col-md-offset-1">
          <button type="submit" (click)="registrarReglamento()" class="btn btn-primary" *ngIf="!esUpdate" [disabled]="!reglamentoForm.valid">Registrar</button>
          <button type="submit" (click)="actualizarReglamento()" class="btn btn-primary" *ngIf="esUpdate" [disabled]="!reglamentoForm.valid">Guardar</button>
        </div>
        <div class="col-md-2 col-md-offset-7">
          <button class="btn btn-default" (click)="limpiar()">Limpiar</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Esta row "tamaño" se usa para que no se deforme la visualizacion (el navBar de config). Es necesario debido al funcionamiento heredado del container-fluid-->
<div class="row tamaño">
  <div class="col-md-12 col-sm-12">
    <p>Declaración jurada para participar del torneo: Los firmantes de la presente declaración, participes del torneo, manifiestan
      estar en perfectas condiciones físicas      
    </p>
  </div>
</div>
