<div class="col-sm-12 col-md-12" style="background-color:lightsalmon">
  <div class="row">
    <header></header>
    <div class="row">
      <div class="col-sm-12 col-md-12"><br></div>
    </div>
    <nav></nav>
    <div class="row">
      <div class="col-sm-12 col-md-12"><br></div>
    </div>
    <div class="col-sm-8 col-md-8">
      <section></section>
    </div>
    <div class="col-sm-4 col-md-4">
      <aside></aside>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer></footer>
  </div>
</div>
