<div class="declaracion">
    <h3 class>Organiza LUMA SRL</h3>
    <p class="texto-declaracion">Declaración jurada para participar del torneo: Los firmantes de la presente declaración, participes del torneo, manifiestan estar en perfectas condiciones físicas para la 
        realización de los partidos programados en el Torneo Golden. Así mismo declaran que dicha participación es libre, basada en los principios de autodeterminación tanto 
        personal como de sus propios cuerpos adhiriéndose al reglamento establecido por la Organización del Torneo Golden. Dicha conformidad comprende, además, la asunción 
        de todos los riesgos y responsabilidades que pudieran emerger del torneo exonerándose de responder a los organizadores del mismo en caso de daños, tanto a las personas 
        como a los bienes introducidos al predio. Queda establecido que la única obligación de los organizadores es la creación del fixture de los partidos, los horarios y fechas respectivas.
    </p>
    <p class="datos">VEEDOR:_______________ CANCHA Nº:_______ HORA:___:___ FECHA Nº:___ ARBITRO:______________________</p>
</div>

<div class="jugadores"></div>


<div class="footer">
    <p class="datos">
        JUEZ DE LINEA 1:_______________,_______________ JUEZ DE LINEA 2:_______________,_______________ RESULTADO (DE ESTE EQUIPO):   A   (RIVAL)
        PREDIO:                    RESULTADO:   A         MEJOR JUGADOR:_______________,_______________ INDUMENTARIA COMPLETA: SI / NO
    </p>
</div>