<div class="row" class="montserrat-font">
  <div *ngIf="nombre != null" class="col-sm-2 col-md-2 margin-class">
    {{nombre.toUpperCase()}}
  </div>
  <div id="header" class="col-sm-8 col-md-8">
    <div id="container">
      <div *ngFor="let img of images" class="inline-display">
        <div class="images">
          <img [src]="'http://localhost:50042' + img.ThumbPath" class="img-thumbnail" title="{{img.FileName}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 margin-class">
    <login></login>
  </div>
</div>
