<div class="container-fluid montserrat-font hidden-sm hidden-xs">
  <div class="row" style="background-color: rgb(41, 41, 41); text-align: right;">
    <div class="col-sm-1 col-md-1">
    </div>
    <!-- Primer Boton -->
    <div class="col-sm-11 col-md-11">
      <div class="dropdown">
        <span class="glyphicon glyphicon-home home" (click)="noticias_Click()"></span>
      </div>

      <!-- Segundo Boton -->

      <div class="dropdown">
        <button class="dropbtn">CATEGORÍA</button>
        <div class="dropdown-content">
          <a *ngFor="let torneo of lsTorneos" [ngValue]="torneo" (click)="setTorneo(torneo.nombre, torneo.id_torneo)">
            {{torneo.nombre}}
          </a>
        </div>

      </div>
      <!-- Tercer Boton -->

      <div class="dropdown">
        <button class="dropbtn" (click)="reglamento_Click()">REGLAMENTO</button>
      </div>
      <!-- Cuarto Boton -->
      <div class="dropdown">
        <button class="dropbtn" (click)="fixture_Click()">FIXTURE</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn" (click)="resultados_Click()">RESULTADOS</button>
      </div>
      <!-- Quinto Boton -->
      <div class="dropdown">
        <button class="dropbtn" (click)="posiciones_Click()">POSICIONES</button>
      </div>
      <!-- Sexto Boton -->
      <div class="dropdown">
        <button class="dropbtn" (click)="goleadores_Click()">GOLEADORES</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn" (click)="equipos_Click()">EQUIPOS</button>

      </div>
      <div class="dropdown">
        <button *ngIf="id_fase != 3" class="dropbtn" (click)="zonasVisualizacion_Click()">ZONAS</button>
        <button *ngIf="id_fase == 3" class="dropbtn" (click)="playoffVisualizacion_Click()">PLAYOFF</button>
      </div>
      <div class="dropdown">
        <button *ngIf="user != null" class="dropbtn">ADMINISTRACIÓN</button>
        <div class="dropdown-content">
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="configuraciones_Click()">Configuración</a>
          <a *ngIf=" user != null && user.perfil.n_perfil === 'Administrador'" (click)="equipoCarga_Click()">Equipo</a>
          <a (click)="jugadoresCarga_Click()">Jugadores</a>
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" routerLink="fixture-armado">Generar fixture</a>
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="fixtureAutomatico_Click()">Fixture Automático</a>
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="torneoCarga_Click()">Categoría</a>
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="noticiaCarga_Click()">Noticias</a>
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="zonaCarga_Click()">Zonas</a>
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="resultadoCarga_Click()">Resultados</a>
          <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="usuariosCarga_Click()">Usuarios</a>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar hidden-md hidden-lg">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="navbar-toggler-icon">
          <i class="fa fa-navicon"></i>
        </span>
      </button>
      <a class="navbar-brand" (click)="noticias_Click()" style="cursor:pointer;">INICIO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORÍA
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a *ngFor="let torneo of lsTorneos" [ngValue]="torneo" (click)="setTorneo(torneo.nombre, torneo.id_torneo)">
                {{torneo.nombre}}
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="reglamento_Click()">REGLAMENTO
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a (click)="fixture_Click()">FIXTURE
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a (click)="resultados_Click()">RESULTADOS
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a (click)="posiciones_Click()">POSICIONES
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a (click)="goleadores_Click()">GOLEADORES
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a (click)="equipos_Click()">EQUIPOS
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a (click)="zonasVisualizacion_Click()" *ngIf="id_fase != 3">ZONAS
            <span class="sr-only">(current)</span>
          </a>
          <a (click)="playoffVisualizacion_Click()" *ngIf="id_fase == 3">PLAYOFF
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
