<div class="row montserrat-font" style="background-color: rgb(41, 41, 41); margin-left:0px; margin-right:0px;">
  <div class="col-sm-2 col-md-2">
  </div>
  <!-- Primer Boton -->
  <div class="col-sm-10 col-md-10">
    <div class="dropdown">
      <button class="dropbtn">INICIO</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <!-- Segundo Boton -->

    <div class="dropdown">
      <button class="dropbtn">TORNEO</button>
      <div class="dropdown-content">
        <a *ngFor="let torneo of lsTorneos" [ngValue]="torneo" (click)="setTorneo(torneo.nombre, torneo.id_torneo)">
          {{torneo.nombre}}
        </a>
      </div>

    </div>
    <!-- Tercer Boton -->

    <div class="dropdown">
      <button class="dropbtn">NOTICIAS</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <!-- Cuarto Boton -->
    <div class="dropdown">
      <button class="dropbtn">FIXTURE</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <!-- Quinto Boton -->
    <div class="dropdown">
      <button class="dropbtn">POSICIONES</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <!-- Sexto Boton -->
    <div class="dropdown">
      <button class="dropbtn">RESULTADOS</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">GOLEADORES</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button *ngIf="user != null" class="dropbtn">ADMINISTRACIÓN</button>
      <div class="dropdown-content">
        <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="configuraciones_Click()">Configuracion</a>
        <a *ngIf=" user != null && user.perfil.n_perfil === 'Administrador'" (click)="equipoCarga_Click()">Equipo</a>
        <a (click)="jugadoresCarga_Click()">Jugadores</a>
        <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" href="#">Generar fixture</a>
        <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" href="#">Categorias</a>
        <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" (click)="torneoCarga_Click()">Torneos</a>
        <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" href="#">Noticias</a>
        <a *ngIf="user != null && user.perfil.n_perfil === 'Administrador'" href="#">Sponsors</a>
      </div>
    </div>
  </div>
</div>
