/* Dropdown Button */

.dropbtn {
  /*background-color: rgb(170, 145, 93);*/
  background-color: rgb(41, 41, 41);
  color: rgb(170, 145, 93);
  padding: 12px;
  font-size: 14px;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-weight: 500;
  z-index: 10;
  position: relative;
}

.home {
  background-color: rgb(41, 41, 41);
  color: rgb(170, 145, 93);
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: rgba(118, 104, 73, 0.9);*/
  background-color: rgba(35, 35, 35, 0.9);
  min-width: 120px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: rgb(170, 145, 93);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: rgb(35, 35, 35);
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: rgb(35, 35, 35);
}
