<form #loginCarga="ngForm">
  <h3>Ingreso al sistema</h3>
  <div  class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label class="control-label">Usuario</label>
        <div class="inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-list"></i>
            </span>
            <input name="n_provincia" required type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label class="control-label">Contraseña</label>
        <div class="inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-list"></i>
            </span>
            <input name="n_localidad" required type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
  <button type="button" (click)="dialogRef.close()" class="btn">Cancelar</button>
</form>
